
<!DOCTYPE html>
<%- include("partials/header") -%>

<%for(i in posts){%>

<div class="card">
  <div class="card-header">
    <h1><%= posts[i].title%></h1>
  </div>
  <div class="card-body">
      <p>
        <%if(posts[i].body.length > 1000){%>
        <%= posts[i].body.substring(0, 1000) + "..."%>
        <a href="/posts/<%= posts[i].id%>">Read More</a>
        <%} else {%>
        <%= posts[i].body%>
        <%}%>
      </p>
  </div>
  <div class="card-footer text-muted">
    <a href="/copy"><button class="btn btn-primary" name="copyButton">Copy link</button></a>
    <a href="/like"><button class="btn btn-primary" name="likeButton">Like</button></a>
  </div>
</div>
<%}%>

<%- include("partials/footer") -%>
