
<!DOCTYPE html>
<%- include("partials/header") -%>

<%for(i in posts){%>

<div class="card" id="<%= posts[i].id%>">
  <div class="card-header">
    <h1 ><%= posts[i].title%></h1>
  </div>
  <div class="card-body">
      <p>
        <%if(posts[i].body.length > 1000){%>
        <%= posts[i].body.substring(0, 1000) + "..."%>
        <a name = "link" href="/posts/<%= posts[i].id%>">Read More</a>
        <%} else {%>
        <%= posts[i].body%>
        <%}%>
      </p>
  </div>
  <form class="" action="/copy" method="post">
    <div class="card-footer text-muted">
        <button type="submit" class="btn btn-primary" formaction="/copy/<%= posts[i].id%>/0">Copy link</button>
        <button type="submit" class="btn btn-primary" formaction="/like/<%= posts[i].id%>/0">Like <%= posts[i].likes%></button>
    </div>
  </form>

</div>
<%}%>

<%- include("partials/footer") -%>
