
<!DOCTYPE html>
<%- include("partials/header") -%>
    <div class="card">
      <div class="card-header">
        <h1><%= title%></h1>
      </div>
      <div class="card-body">
          <p>
            <%= content%>
          </p>
      </div>
      <form class="" action="/copy" method="post">
        <div class="card-footer text-muted">
          <button type="submit" class="btn btn-primary" formaction="/copy/<%= id%>/1">Copy link</button>
          <button type="submit" class="btn btn-primary" formaction="/like/<%= id%>/1">Like <%= likes%></button>
        </div>
      </form>
    </div>

<%- include("partials/footer") -%>
